.home-container {
  padding: 20px;
  overflow: visible;
}

.certification-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  border: 2px dashed blue; /* Para debugar, mostra o contorno do grid */
}

.cert-link {
  text-decoration: none;
}

.cert-card {
  background: var(--card-bg-color, #222);
  padding: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.3s, max-height 0.3s, opacity 0.3s;
  overflow: hidden;
  max-height: 220px;
  position: relative;
  cursor: pointer;
  border: 2px solid yellow; /* Adicione uma borda para visualizar o elemento */
}

.card-image {
  width: 100%;
  height: 200px; /* Ajusta conforme necessário */
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover; /* Faz a imagem cobrir o espaço corretamente */
}

.cert-card:hover .card-image {
  height: 250px; /* Aumenta no hover */
}



.cert-card:hover {
  transform: scale(1.05);
  max-height: 500px;
}

.progress-bar {
  height: 10px;
  background: #444;
  border-radius: 5px;
  margin: 10px 0;
}

.progress {
  height: 10px;
  background: #ee6f57;
  border-radius: 5px;
}

.hover-content {
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: 10px;
}

.cert-card:hover .hover-content {
  opacity: 1;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.current-module {
  font-weight: 600;
  margin-bottom: 5px;
}

.module-description {
  font-size: 14px;
}
